html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evita cualquier scroll adicional en el body */
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aliceblue;
    z-index: 1000;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 1rem;
}

main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    margin-top: 60px; /* Ajuste del contenido para que no quede oculto detrás de la nav */
}

section {
    transform-style: preserve-3d;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
}

.no-parallax {
    z-index: 999;
}

.parallax h2 {
    width: 60%;
    font-size: 2rem;
}

.parallax::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.bg::after {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/89336bcd73fd469495f0a7fbe766099a.jpg);
    background-size: cover;
}

.parallax {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.barco {
   filter: drop-shadow(0px 0px 12px black);
   width: 15rem;
   padding-top: 6rem;
}
